body{
    background-color: rgb(240, 242, 255);
    padding: 20px;
    //背景色
}
#headBox{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    .title{
        margin-bottom: 30px;
    }
}
//水平TAB标签
#levelTag{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap:wrap;
    div{
        width: 14%;
        height: 130px;
        border-radius: 8px;
        margin-right: 35px;
        background-color: white;
        p{
            font-size: 16px;
            font-weight: 600;
            margin-top: 15px;
            margin-left: 10px;
        }
       span{
            font-size: 12px;
            font-weight: 100;
            margin-left: 10px;
            color: rgb(85, 85, 85);
        }
        b{
            font-size: 30px;
            font-weight: 600;
            margin-left: 10px;
            line-height: 80px;
        }   
    }
}
//中间折线图
#middle{
    width: 100%;
    height: auto;
    display: flex;
    justify-content:space-between;
}
#leftVip{
    width: 49%;
    height: 500px;
    #Viphead{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        h4{
            line-height: 60px;
        }
        div{
            width: auto;
            height: 100%;
            line-height: 60px;
            margin-right: 10px;
            button{
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                width: 70px;
            }
        }
    }
    #VipLine{
        width: 100%;
        height: 82%;
        border-radius: 10px;
        margin-top: 20px;
        margin: auto;
    }
}
#rightOrder{
    width: 49%;
    height: 500px;
    #Orderhead{
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: space-between;
        h4 {
            line-height: 60px;
        }
        div{
            width: auto;
            height: 100%;
            line-height: 60px;
            margin-right: 10px;
            button {
                background-color: rgb(255, 255, 255);
                border-radius: 5px;
                width: 70px;
            }
        }
    }
    #OrderBar {
        width: 100%;
        height: 82%;
        border-radius: 10px;
        margin-top: 20px;
        margin: auto;
    }
}

#bottom{
    width: 100%;
    height: auto;

    #Sumhead {
        width: 100%;
        height: 60px;
        div{
            width: auto;
            height: auto;
            display: inline-block;
            float: right;
            line-height: 60px;
            margin-right: 10px;
        }
        h4{
            display: inline-block;
            line-height: 60px;
        }
    }
    #BottomBox{
        width: 100%;
        height: auto;
       
        display: flex;
        justify-content: space-between;
        background-color: white;
        #leftSum{
            width: 45%;
            height: 500px;
            
            display: flex;
            flex-wrap:wrap;
            div{
                width: 40%;
                height: 120px;
                
                border-radius: 5px;
                margin-left: 30px;
                margin-top: 20px;
                p{
                    font-size: 19px;
                    margin-left: 10px;
                }
                b{
                    font-size: 30px;
                    margin-top: 15px;
                    margin-left: 10px;
                    line-height: 60px;
                }
                span{
                    margin-left: 10px;
                    color: rgb(111, 111, 111);
                }
            }
        }
        #rightBar{
            width: 55%;
            height: 500px;
        }
    }
    
}

.xuan:hover {
    background-color: #fff;
    box-shadow: 2px 2px 2px 2px rgb(243, 245, 254);
}
.nav-bos:hover {
    -webkit-animation: fade-in-bottom 0.4s;
    animation: fade-in-bottom 0.4s;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-10 17:20:15
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    0% {
        -webkit-transform: translateY(10px);
        transform: translateY(10px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}



.num1{
    color: rgb(41, 152, 249);
}
.num4{
    color: rgb(41, 152, 249);
}
.num2{
    color: rgb(248, 95, 72);
}
.num3{
    color: rgb(58, 185, 117);
}
.num5{
    color: rgb(243, 140, 44);
}
.num6{
    color: rgb(91, 239, 133);
}
.title{
    font-size: 22px;
    font-weight: 600;
}

*{
    margin: 0;
    padding: 0;
}
